services:
  devcontainer:
    build:
      context: .
      args:
        - GRADLE_VERSION=9.3.1
        - USERNAME=${USER:?err}
        - USER_UID=${COMPOSE_USER_ID:-1000}
        - USER_GID=${COMPOSE_GROUP_ID:-1000}
    command: sleep infinity
    volumes:
      - type: bind
        source: ../
        target: /workspaces/capped-json-writer
        consistency: consistent
      - type: volume
        source: gradle_caches
        target: /home/${USER}/.gradle/caches
volumes:
  gradle_caches: {}
